<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deepsingh44.vishufirsthelloapp">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/phonecall"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/phonecall"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".MenuExample">

        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabbesActivityDemo"></activity>
        <activity android:name=".FragmentDemo" />
        <activity android:name=".WebViewDemo" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".LoginPage" />
        <activity
            android:name=".SplashPage"
            android:theme="@style/deepfullscreen" />
    </application>

</manifest>